<h2>cprobe</h2></br>
See docs at <a href='https://github.com/cprobe/cprobe'>https://github.com/cprobe/cprobe</a></br>
Useful endpoints:</br>
{{ range $key, $value := .endpoints }}
   <a href='{{ $key }}'>{{ $key }}</a> - {{ $value }}<br/>
{{ end }}
plugins:
    {{ range $key, $value := .plugins }}
       <li><a href='plugins/{{ $key }}'>{{ $key }}</a></li>
    {{ end }}